.imgStyle {
    @apply bg-gradient-to-r from-yellow-500 to-yellow-100 rounded-l-md;
    position: relative;
    overflow: hidden;
}

.cartoonImg{
    background: url('/assets/img1.png') no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-position: 65% 100px;
    z-index: 1;
}